/* Custom properties and their default values */
:root {
  /* Layout */
  --canvas-nav-space: 1.25rem;
  // --canvas-content-padding: 1.5rem;
  // --canvas-topic-list-padding: 0.8em;
  --d-max-width: 1120px;

  /* Base Styles */
  // --canvas-background is defined in common/color_definitions.scss
  --canvas-border: 1px solid var(--primary-200);
  // --canvas-border-light: 1px solid var(--primary-200);

  /* Border Radius */
  // --d-border-radius: 2px;
  --d-border-radius-large: 16px;
  --d-border-radius-medium: 0.75rem;
  --d-button-border-radius: 8px;
  // --d-input-border-radius: var(--d-button-border-radius);
  // --d-nav-pill-border-radius: var(--d-button-border-radius);

  /* Button Styles */
  // --canvas-button-padding: 0.5rem 0.75rem;
  // --canvas-button-primary-padding is defined in common/color_definitions.scss

  /* Header */
  // --canvas-header-height: 4rem;
  // --canvas-header-border: none;
  // --canvas-header-background: var(--header_background);
  // --canvas-header-shadow: var(--shadow-header);

  /* Sidebar */
  --canvas-sidebar-border: none;
  // --canvas-sidebar-scrollbar: var(--scrollbarWidth);
  --d-sidebar-width: clamp(12rem, 2rem + 21.3333vw, 18rem);
  --d-sidebar-background: var(--canvas-background);
  --d-sidebar-row-height: 2.8125rem;
  // --d-sidebar-highlight-background: var(--primary-low);

  /* Panels */
  --canvas-panel-padding: 0rem;
  --canvas-panel-background: transparent;
  --canvas-panel-border: none;
  --canvas-panel-shadow: none;
  // --canvas-panel-radius: var(--d-border-radius-large);
  // --canvas-panel-border: none;
  // --canvas-panel-shadow: var(--shadow-header);
  // --canvas-panel-background: var(--secondary);

  /* Banners */
  // --canvas-banner-background: var(--secondary);
  // --canvas-banner-color: var(--primary);
  --canvas-banner-padding: clamp(2.5rem, 1.413rem + 5.4348vw, 5.625rem)
    clamp(2rem, -0.087rem + 10.4348vw, 8rem);
  // --canvas-banner-radius: var(--d-border-radius-large);
  // --canvas-banner-border: none;
  // --canvas-banner-shadow: var(--shadow-header);
  --canvas-banner-home-image: url(#{$banner-bg-home});
  --canvas-banner-search-image: url(#{$banner-search});

  /* Header Search */
  // --canvas-header-search-border: 1px solid var(--primary-400);
  // --canvas-header-search-padding: 0.5em;

  /* Topic Cards */
  // --topic-card-background is defined in common/color_definitions.scss
  --topic-card-border-radius: var(--d-border-radius-medium);
  --topic-card-shadow: rgba(0, 0, 0, 0.075) 0px 0px 5px 0px, rgba(0, 0, 0, 0.075) 0px 0px 1px 0px;
  // --topic-card-background-visited is defined in common/color_definitions.scss

  /* Icons */
  --canvas-icon-latest: url(#{$icon-latest});
  --canvas-icon-latest-red: url(#{$icon-latest-red});
  --canvas-icon-hot: url(#{$icon-hot});
  --canvas-icon-hot-red: url(#{$icon-hot-red});
  --canvas-icon-new: url(#{$icon-new});
  --canvas-icon-new-red: url(#{$icon-new-red});
  --canvas-icon-car: url(#{$icon-car});
  --canvas-icon-motorbike: url(#{$icon-motorbike});
  --canvas-icon-truck: url(#{$icon-truck});

  /* Thumbnails */
  --canvas-thumb-notice: url(#{$thumb-notice});
  --canvas-thumb-update: url(#{$thumb-update});
  --canvas-thumb-qa: url(#{$thumb-qa});
  --canvas-thumb-welcome: url(#{$thumb-welcome});
  --canvas-thumb-videos: url(#{$thumb-videos});
  --canvas-thumb-product: url(#{$thumb-product});
  --canvas-thumb-brands: url(#{$thumb-brands});
  --canvas-thumb-community: url(#{$thumb-community});
}
