.sidebar-section-wrapper.sidebar-section[data-section-name="tags"] {
  display: none;
}

body .sidebar-wrapper .sidebar-container#d-sidebar {
  border-right: 1px solid var(--primary-200);
}

// Hide more topics as we render with topic cards
.more-topics__container {
  display: none;
}

body #sidebar-section-content-categories svg[class*="d-icon-icarsoft-"] {
  width: 1.5rem;
  height: 1.5rem;
}

body .topic-card.topic-list-item {
  background-color: var(--topic-card-background);
  border-radius: var(--topic-card-border-radius);
  box-shadow: var(--topic-card-shadow);
}

body .topic-card.topic-list-item.visited {
  background-color: var(--topic-card-background-visited);
}

/* Homepage hero banner */
.homepage-hero {
  display: none;
  width: 100%;
  aspect-ratio: 3 / 1;
  background-image: var(--canvas-banner-home-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--d-border-radius-large);
  margin-block-end: 1.5rem;
}

/* Show only on /latest (homepage) */
body.navigation-topics .homepage-hero {
  display: block;
}

/* Search hero banner background */
.welcome-banner.--location-above-topic-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  width: 100%;
  aspect-ratio: 6 / 1;
  background-image: var(--canvas-banner-search-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--d-border-radius-large);
  margin-block-end: 1.5rem;
}

.welcome-banner.--location-above-topic-content .welcome-banner__wrap {
  padding: 0;
  max-width: 600px;
  margin-inline-start: auto;
  margin-inline-end: clamp(1rem, 7vw, 7%);
}

.welcome-banner.--location-above-topic-content  .welcome-banner__title {
  font-size: clamp(1.25rem, 2.5vw + 1rem, 2rem);
  white-space: nowrap;
  width: 100%;
}