.sidebar-section-wrapper.sidebar-section[data-section-name="tags"] {
  display: none;
}

body .sidebar-wrapper .sidebar-container#d-sidebar {
  border-right: 1px solid var(--primary-200);
}

// Hide more topics as we render with topic cards
.more-topics__container {
  display: none;
}

body #sidebar-section-content-categories svg[class*="d-icon-icarsoft-"] {
  width: 1.5rem;
  height: 1.5rem;
}
body .topic-card.topic-list-item {
  background-color: var(--topic-card-background);
  border-radius: var(--topic-card-border-radius);
  box-shadow: var(--topic-card-shadow);
}
body .topic-card.topic-list-item.visited {
  background-color: var(--topic-card-background-visited);
}

/* Homepage hero banner */
.homepage-hero {
  display: none;
  background-image: var(--canvas-banner-home-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: var(--canvas-banner-padding);
  border-radius: var(--d-border-radius-large);
}

/* Show only on /latest (homepage) */
body.navigation-latest .homepage-hero {
  display: block;
}

