{{#if this.cfg}}
  <nav class="company-cats-nav layout-{{this.cfg.layout}}">
    {{#each this.categories as |c|}}
      <a class="company-cats-nav__item" href={{c.url}} title={{c.description}}>
        {{c.name}}
      </a>
    {{/each}}
  </nav>
{{/if}}


