{{#if this.isOnTopicList}}
<nav class="icarsoft-categories-nav" aria-label="Navigation principale">
    <ul class="icarsoft-categories-nav__list">
      <li class="icarsoft-categories-nav__item">
        <a class="icarsoft-categories-nav__link icon-welcome" href="/c/bienvenue/4">Bienvenue</a>
      </li>
      <li class="icarsoft-categories-nav__item">
        <a class="icarsoft-categories-nav__link icon-product" href="/c/nos-produits/5">Nos produits</a>
      </li>
      <li class="icarsoft-categories-nav__item">
        <a class="icarsoft-categories-nav__link icon-brands" href="/c/par-marques/6">Par marques</a>
      </li>
      <li class="icarsoft-categories-nav__item">
        <a class="icarsoft-categories-nav__link icon-videos" href="/c/videos-tutos/7">Vidéos & tutos</a>
      </li>
      <li class="icarsoft-categories-nav__item">
        <a class="icarsoft-categories-nav__link icon-community" href="/c/communaute/77">Communauté</a>
      </li>
    </ul>
  </nav>
{{/if}}
