<section class="icarsoft-home" aria-label="Accueil personnalisé iCarsoft">
  <div class="homepage-hero" aria-label="Forum iCarsoft France dédié aux particuliers et professionnels"></div>

  {{mount-widget widget="search-banner"}}

  <nav class="icarsoft-nav" aria-label="Navigation principale">
    <ul class="icarsoft-nav__list">
      <li class="icarsoft-nav__item">
        <a class="icarsoft-nav__link" href="/c/bienvenue/4">
        Bienvenue</a>
      </li>
      <li class="icarsoft-nav__item">
        <a class="icarsoft-nav__link" href="/c/nos-produits/5">Nos produits</a>
      </li>
      <li class="icarsoft-nav__item">
        <a class="icarsoft-nav__link" href="/c/par-marques/6">Par marques</a>
      </li>
      <li class="icarsoft-nav__item">
        <a class="icarsoft-nav__link" href="/c/videos-tutos/7">Vidéos & tutos</a>
      </li>
      <li class="icarsoft-nav__item">
        <a class="icarsoft-nav__link" href="/c/communaute/77">Communauté</a>
      </li>
    </ul>
  </nav>
</section>