{{#if this.latestTopics}}
  <section class="icarsoft-topics latest">
    <div class="wrap">
      <h2>{{theme-setting "latest_title"}}</h2>
      <ul class="topic-cards">
        {{#each this.latestTopics.topics as |t|}}
          <li class="topic-card topic-list-item">{{topic-link t}}</li>
        {{/each}}
      </ul>
    </div>
  </section>
{{/if}}

