{{#if this.hotTopics}}
  <section class="icarsoft-topics hot">
    <div class="wrap">
      <h2>{{theme-setting "hot_title"}}</h2>
      <ul class="topic-cards">
        {{#each this.hotTopics.topics as |t|}}
          <li class="topic-card topic-list-item">{{topic-link t}}</li>
        {{/each}}
      </ul>
    </div>
  </section>
{{/if}}

