{{#if this.showSearchHero}}
  <section class="icarsoft-search-hero" style={{this.searchStyle}}>
    <div class="icarsoft-search-hero__content wrap">
      <form class="icarsoft-search-form" action="/search" method="get">
        <input type="text" name="q" placeholder={{theme-setting "search_placeholder"}}>
        <button type="submit" class="btn btn-primary">{{i18n "search"}}</button>
      </form>
    </div>
  </section>
{{/if}}

