{{#if settings.enable_home_nav}}
<nav class="icarsoft-home-nav" aria-label="iCarsoft quick links">
  <ul class="icarsoft-home-nav__list"></ul>
  <div class="icarsoft-home-nav__divider" aria-hidden="true"></div>
  </nav>
{{/if}}
